HELP.md
target/
temp/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
out/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

###web
.DS_Store
node_modules/
dist/
npm-debug.log

## jacoco
temp/
download/
download/**
git/
classes/
report/
jacoco/
jacoco/tempSrc/
jacoco/classes/
jacoco/report/
cc/
log/
jacoco_web.log
*.log
.gradle
target/
